.backgroundWhite {
  background-color: white;
  border-radius: 0.2rem;
  font-weight: 600;
  color: #333;
}
.extraPadding {
  width: 90% !important;
  padding: 0.2rem 1rem;
  margin: 0.8rem auto;
}

.textBold {
  margin: 0;
  padding: 0 0.4rem;
}

.textUpperSky {
  text-transform: uppercase;
  color: rgb(18, 167, 226);
  cursor: pointer;
}

.textUpperSky:hover {
  text-decoration: underline;
}
