.backgroundWhite {
  background-color: white;
  border-radius: 0.2rem;
  font-weight: 600;
  color: #333;
  overflow: hidden;
}
.extraPadding {
  width: 98% !important;
  padding: 0.2rem 0;
  margin: 0.8rem auto;
}

.textBold {
  margin: 0.8rem 0;
  padding: 0 0.4rem;
}

.textPara {
  font-weight: 600;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
  padding-top: 0.5rem;
}
