.filterButtonContainer {
  display: inline-block;
  padding: 0.5rem 0.6rem;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  cursor: pointer;
}

.container:hover {
  background-color: #e6e6e6b0;
}

.filterButton {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.filterButtonTitle {
  font-size: 1rem;
  font-weight: 700;
}
