.container {
  height: 100%;
  width: 80%;
  padding: 1rem 1.4rem;
}

.headingButton {
  border: 1px solid #ccc;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 0.1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.filterContainer {
  display: flex;
  gap: 2rem;
  margin-bottom: 2.6rem;
}
