.container {
  height: 100%;
  width: 80%;
  padding: 1rem 1.4rem;
}

.titleDescContainer {
  margin-bottom: 2.2rem;
}

.headingContainer {
  display: flex;
  align-items: center;
  margin-bottom: -0.8rem;
}

.headingH1 {
  margin: 0;
}

.filterContainer {
  display: flex;
  gap: 2rem;
  margin-bottom: 2.6rem;
}

.chartContainer {
  display: flex;
  overflow-y: auto;
  height: 70vh;
}

.chart {
  height: 100%;
  width: 50%;
}

@media (max-width: 600px) {
  .chartContainer {
    flex-direction: column;
    overflow-y: auto;
  }
}
