.container {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 94, 121, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkButton {
  text-decoration: none;
  color: white;
  border: 1px solid #4b4141;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
}

.linkButton:hover {
  background-color: #526f62;
}
